html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'ITC Clearface Std';
    src: url('../assets/fonts/ClearfaceStd-Regular.woff2') format('woff2'),
        url('../assets/fonts/ClearfaceStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Clearface Std';
    src: url('../assets/fonts/ClearfaceStd-Heavy.woff2') format('woff2'),
        url('../assets/fonts/ClearfaceStd-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Clearface Std';
    src: url('../assets/fonts/ClearfaceStd-Bold.woff2') format('woff2'),
        url('../assets/fonts/ClearfaceStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Agrandir';
    src: url('../assets/fonts/PPAgrandirText-Regular.woff2') format('woff2'),
        url('../assets/fonts/PPAgrandirText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Agrandir';
    src: url('../assets/fonts/PPAgrandirText-Bold.woff2') format('woff2'),
        url('../assets/fonts/PPAgrandirText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




/* vars */
:root {
    --cat-art: #F5D9FF;
    --cat-design: #91FFAF;
    --cat-tech: #F7F79D;
    --cat-eth: #A5FCFF;
    --main-black: #141414;
    --btn-radius: 41px;
    --flex-gap: 32px;

}

img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    display: block;
    cursor: pointer;
    appearance: none;
    border: 0;
    background-color: transparent;
}
input[type="text"]{
    border: var(--main-black) 1px solid;
    border-radius: var(--btn-radius);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


/* typo */

body{
    font-family: 'ITC Clearface Std', serif;
    font-size: 19px;
    background: lightgray;
    line-height: 1.36;

}
h1{
    float: left;
}
h1{
    font-weight: 800;
}
h1, h2{
    font-size:2.526315789473684em;
    line-height: 1.145833333333333;
}
h3{
    font-family: 'PP Agrandir', sans-serif;
    font-size: 0.947368421052632em;
    line-height: 1.444444444444444;
}
h3 span{
    font-weight: bold;
}
h4{
    font-weight: bold;
}
/*grid etc */
.container-full{
    width: 100%;
}
.container-flex{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.container-grid{
    max-width: 1200px;
    margin: 0 auto;
}
.container-grid-flex-item-center{
    display: flex;
    flex-grow: 1;
}

/* header */
#logo{
    margin: 0 50px 82px;
}

header h1:after{
    content: ".\00a0"; /* space after h1 */
}

header h3{
    text-align: center;
}
header h3 span{
   display: block;
}
#header-data{
    margin: 3em 0 6em;
}
#header-content{
    position: relative;
    margin-bottom: 8em;
}
#header-content:after{
    content:url(../assets/1.svg);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

/* filter */
#filter{
    margin-bottom: 6em;
    
}
#filter h3{
    display: flex;
    flex-basis: calc(100% / 5);
}
#filter ul{
    display: flex;
    gap: 30px;
    flex-basis: calc(100% / 5 * 4);

}


.btn{
    font-family: 'PP Agrandir', sans-serif;
    font-weight: bold;
    font-size: 0.947368421052632em;
    line-height: 1;

}
.filter-button{
    min-width: 230px;
    border: 1px solid var(--main-black);
    border-radius: var(--btn-radius);
    text-align: center;
    padding: 32px 0;
}
.cat-art{
    background: var(--cat-art);
}
.cat-design{
    background: var(--cat-design);
}
.cat-tech{
    background: var(--cat-tech);
}
.cat-eth{
    background: var(--cat-eth);
}
/* 
.filter-button[data-filter="Art"]{
    
} 
*/

/* search */
#search{
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}
#search input[type="text"]{
    display: block;
    width: 100%;
    max-width: 1000px;
    padding: 19px 30px;
    background: white;
    font-family: 'PP Agrandir', sans-serif;
    font-size: 0.947368421052632em;
    line-height: 1;
}

/* student list */
#student-list{
    padding-bottom: 4em;
    border-bottom: 1px solid var(--main-black);
    margin-bottom: 5em;
    align-items: flex-start;
}
#student-list h3{
    display: flex;
    flex-basis: calc(100% / 5);
}

#classes{
    display:flex;
    flex-basis: calc(100% / 5 * 4);
    justify-content: space-between;
}

#classes .class h4{
    font-family: 'PP Agrandir', sans-serif;
    font-weight: bold;
    font-size: 0.947368421052632em;
    line-height: 1.444444444444444;
}

/* thumb cont */

.image-wrap{
    width: 100%;
    height: 762px;
    margin: 5em 0 9em;
    position: relative;
    z-index: -1;
    background-image: url(../assets/students.png);
    background-size: cover;
    background-position: center;
}
.image-wrap:before{
    content:url(../assets/m.svg);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-100%, -50%);
}
.image-wrap:after{
    content:url(../assets/d.svg);
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(50%, 50%);
}
 .image-wrap .overlay{
    height: 100%;
    width: 100%;
    background: #F5D9FF;
    mix-blend-mode: hard-light;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
} 
#thumb-wrapper{
    position: relative;
}

.thumb-cont{
    position: relative;    
    display: flex;
  flex-wrap: wrap;
  gap: var(--flex-gap);
  align-items: flex-start;
  margin-bottom: 6em;
}
#thumb-wrapper:after{
    content:url(../assets/1-2.svg);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translate(-140%, -80%);
}
#thumb-wrapper:before{
    content:url(../assets/c.svg);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 50%;
    transform: translate(140%, 30%);
}

.thumb-cont .thumb{
    flex-grow: 1;
    flex-basis: calc(100% / 3 - var(--flex-gap));
   
}

/* thumb styling */
.thumb{
    display: block;
    margin-bottom: 3.5em;
}
.thumb h3{
    

}

.thumb img{
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--btn-radius);
    transition: ease all 200ms;
    margin-bottom: 1.3em;
}

.thumb:hover img{
    transform: scale(1.05);
}

.thumb h3{
    font-family: 'ITC Clearface Std', serif;
    font-size: 1.578947368421053em;
    line-height: 1.166666666666667;
    margin-bottom: .7em;
}

.thumb h4{
    font-family: 'PP Agrandir', sans-serif;
    font-size: 0.789473684210526em;
    font-weight:normal;
    line-height: 1;
    margin-bottom: 2em;
}
.thumb p{
    font-family: 'PP Agrandir', sans-serif;
    font-size: 1.052631578947368em;
    font-weight:bold;
    line-height: 1.3;
}
.thumb p:before{
    content: url(../assets/pen.svg);
    height: 17px;
    width: 17px;
    display: inline-block;
    margin-right: .7em;
    margin-bottom: -px;
}

.thumb h4:before{
    content: "";
    height: 21px;
    width: 21px;
    display: inline-block;
    background: black;
    border-radius: 50%;
    margin-right: .7em;
    margin-bottom: -5px;
}