
@font-face {
    font-family: 'ITC Clearface Std';
    src: url('../assets/fonts/ClearfaceStd-Regular.woff2') format('woff2'),
        url('../assets/fonts/ClearfaceStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Clearface Std';
    src: url('../assets/fonts/ClearfaceStd-Heavy.woff2') format('woff2'),
        url('../assets/fonts/ClearfaceStd-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Clearface Std';
    src: url('../assets/fonts/ClearfaceStd-Bold.woff2') format('woff2'),
        url('../assets/fonts/ClearfaceStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Agrandir';
    src: url('../assets/fonts/PPAgrandirText-Regular.woff2') format('woff2'),
        url('../assets/fonts/PPAgrandirText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Agrandir';
    src: url('../assets/fonts/PPAgrandirText-Bold.woff2') format('woff2'),
        url('../assets/fonts/PPAgrandirText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


