
@use 'reset.scss';

@use 'fonts.scss';

@use 'variables.scss';

/* ---- */

@use 'typography.scss';

/* ---- */

@use 'grid.scss';


/* ui */

.btn{
    font-family: 'PP Agrandir', sans-serif;
    font-weight: bold;
    font-size: 0.947368421052632em;
    line-height: 1;
    cursor: pointer;
    display: block;
    text-align: center;
    background-color: white;

    &.filter-button{
        border: 1px solid var(--main-black);
        border-radius: var(--btn-radius);
        position: relative;
        height: 80px;
        width: 230px;

        span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            padding: 0 20px
        }

        &.filter-button-small{
            height: 46px;
            width: 130px;
        }
    }
}

.cat-art{
    background: var(--cat-art);
}
.cat-design{
    background: var(--cat-design);
}
.cat-tech{
    background: var(--cat-tech);
}
.cat-eth{
    background: var(--cat-eth);
}
.cat-social{
    background: var(--cat-social);
}
.cat-wild{
    background: var(--cat-wild);
}



/* header */
header{
    position: relative;
    margin-bottom: 4em !important;

    > .container-flex{
        justify-content: space-between;
        gap: 1rem;
        margin: 3em 0 6em;

        @media screen and (max-width: 640px) {
            flex-direction: column;
            align-items: normal;
            gap: 2em;
            margin: 3em 0 3em;
        }
    }

    #logo{
        width: var(--logo-width);

        // position: absolute;
        // left: calc((-1 * var(--logo-width)) - var(--logo-margin));
        // @media screen and (max-width: 1900px) {
        //     left:var(--body-padding);
        // }
        // @media screen and (max-width: 640px) {
        //     position: relative;
        //     left:0;
        //     margin-top: 4em;
        // }
    }

    h3{
        // margin: 3em 0 6em;

        text-align: center;
        
        span{
            display: block;
        }

        @media screen and (max-width: 640px) {
            text-align: left;
        }

        // @media screen and (max-width: 1900px) {
        //     margin-left: calc(var(--logo-width) + var(--logo-margin));
        //     width: calc(100% - (var(--logo-width) + var(--logo-margin)));
        // }
        // @media screen and (max-width: 640px) {
        //     margin: 1em 0 3em;
        //     text-align: left;
        //     width: 100%;
        // }
    }
    h1{
        &:after{
            content: ".\00a0"; /* space after h1 */
        }
    }

    &:after{
        content:url(../assets/1.svg);
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }
}


/* filter */
.filter{
    margin-bottom: 5em;
    
   

    /* weird ass hide 'real' checkbox */
    input[type="checkbox"], input[type="radio"]{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 0.1px;
        height: 0.1px;
        z-index: -1;

        & + label{
            transition: 400ms ease all;
        }
        /* highlight all btn that are checked */
        &:checked + label,  &:hover + label{
        background-color: var(--main-black);
        color: white;
        }
        &:disabled + label{
            cursor:default;
            background-color: var(--main-grey);
        }
        &:disabled:hover + label{
            background: inherit;
            color: inherit;
        }
    }

    /* - */

    h3{
        display: flex;
        flex-basis: calc(100% / 5);
        @media screen and (max-width: 900px) {
            display: none;
        }
       
    }

    &#filter-cat{

         @media screen and (max-width: 400px) {
            display: none; 
        }

        ul{
            display: flex;
            gap: var(--flex-gap);
            flex-basis: calc(100% / 5 * 4);
        

            @media screen and (max-width: 900px) {
                flex-wrap: wrap;
                flex-basis: 100%;
                justify-content: center;
                gap: 10px;
            }

            li{
                position: relative;

            }
        }
    }

    &#filter-year{

        ul{
            display: flex;
            gap: var(--flex-gap);
            flex-basis: calc(100% / 3 * 4);

            @media screen and (max-width: 900px) {
                flex-wrap: wrap;
                flex-basis: 100%;
                justify-content: center;
                gap: 10px;
            }

            li{
                position: relative;

            }
        }
    }
    
}


/* search */
#search{
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    
    input[type="text"]{
        display: block;
        width: 100%;
        max-width: 1000px;
        padding: 19px 30px;
        background: white;
        font-family: 'PP Agrandir', sans-serif;
        font-size: 0.947368421052632em;
        line-height: 1;
        
        &:focus{
            outline: none;
        }
    }
}



/* student list */
#student-list{
    padding-bottom: 4em;
    border-bottom: 1px solid var(--main-black);
    margin-bottom: 5em;
    align-items: flex-start;
    
    h3{
        display: flex;
        flex-basis: calc(100% / 5);
        @media screen and (max-width: 660px) {
            display: none;
        }
    }

    ul{
        width:  calc(100% / 5 * 4);
        columns: 4;

        @media screen and (max-width: 900px) {
            width:  calc(100% / 2 * 2);
            columns: 2;
        }
        
        li {
            &[data-cat] {
                transition: ease all 200ms;

                &:hover{    
                    color: white
                }
                
                &[data-cat="tech"] {
                    &:hover{    
                        color: var(--cat-tech);
                    }
                }
                &[data-cat="design"] {
                    &:hover{    
                        color: var(--cat-design);
                    }
                }
                &[data-cat="art"] {
                    &:hover{    
                        color: var(--cat-art);
                    }
                }
                &[data-cat="eth"] {
                    &:hover{    
                        color: var(--cat-eth);
                    }
                }
            }

            width: 100%;
            &.visible{
                display: block;
            }
            &:not(.visible){
                display: none;
            }
        }
    }
}



/* thumb cont */
#thumb-wrapper{
    position: relative;
     /* overflow: hidden; */

     .thumb-cont{
        position: relative;    
        display: flex;
        flex-wrap: wrap;
        gap: var(--flex-gap);
        align-items: flex-start;
        margin-bottom: 6em;
        
        .thumb{
            position: relative;
            flex-grow: 0;
            flex-basis: calc(100% / 3 - var(--flex-gap));

            @media screen and (max-width: 1000px) {
                flex-basis: calc(100% / 2 - var(--flex-gap));
            }

            @media screen and (max-width: 320px) {
                flex-basis: calc(100% - var(--flex-gap));
            }
           
        }
    }
    &:after{
        content:url(../assets/1-2.svg);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 50%;
        transform: translate(-140%, -80%);
    }
    &:before{
        content:url(../assets/c.svg);
        position: absolute;
        z-index: -1;
        top: 0;
        right: 50%;
        transform: translate(140%, 30%);
    }
}

.image-wrap{
    width: 100%;
    height: 762px;
    margin: 5em 0 9em;
    position: relative;
    z-index: -1;
    background-image: url(../assets/students.png);
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 1900px) {
        height: 560px;
    }
    @media screen and (max-width: 900px) {
        height: 360px;
    }

    .overlay{
        height: 100%;
        width: 100%;
        background: #F5D9FF;
        mix-blend-mode: hard-light;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
    }

    &:before{
        content:url(../assets/m.svg);
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translate(-100%, -50%);
    }
    &:after{
        content:url(../assets/d.svg);
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translate(50%, 50%);
    }
}


/* 'extra' text thumb styling */

.extra{
    color: var(--font-grey);
    font-family: 'ITC Clearface Std', serif;
    font-size: 2.2em;
    font-weight: bold;

    span{
        display: block;
        
        /* Erik Sleijpen heeft dit verzonnen */
        &:nth-of-type(2), &:nth-of-type(4){
            padding-left: 1.2rem;
        }
        &:nth-of-type(1), &:nth-of-type(4), &:nth-of-type(5){
            font-family: 'PP Agrandir', sans-serif;
        }
    }
}




/* thumb styling */
.thumb{
    position: relative;
    display: block;
    margin-bottom: 3.5em;

    
    border-radius: var(--btn-radius);

    outline: 2px solid transparent;
    outline-offset: 15px;

    transition: ease all 600ms;

    &:not(.extra) {
        &:before{
            content: "";
            display: block;
            background: white;
            z-index: -1;
            aspect-ratio: 1 / 1;
            width: 100%;
            border-radius: var(--btn-radius);
            height: auto;
            position: absolute;
        }
    }


    img{
        filter: grayscale(100%);
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto;
        display: block;
        border-radius: var(--btn-radius);
        transition: ease all 400ms;
        margin-bottom: 1.3em;
        
    }

    &:hover{
        img{
            filter: none;
        }
        outline-offset: 24px;
       outline: 2px solid var(--cat-social);
    }
    

    &.hidden{
        display: none;
    }
    h3{
        font-family: 'ITC Clearface Std', serif;
        font-size: 1.578947368421053em;
        line-height: 1.166666666666667;
        margin-bottom: .7em;
    }
    h4{
        font-family: 'PP Agrandir', sans-serif;
        font-size: 0.789473684210526em;
        font-weight:normal;
        line-height: 1;
        margin-bottom: 2em;
        text-transform: lowercase; 
        padding-left: 34px;
        &:before{
            content: "";
            height: 21px;
            width: 21px;
            display: inline-block;
            background: var(--cat-art);
            border-radius: 50%;
            margin-right: .7em;
            margin-bottom: -5px;
            margin-left: -30px;
        }
    }
    p{
        font-family: 'PP Agrandir', sans-serif;
        font-size: 1.052631578947368em;
        font-weight:bold;
        line-height: 1.3;

        &:before{
            content: url(../assets/pen.svg);
            height: 17px;
            width: 17px;
            display: inline-block;
            margin-right: .7em;
            margin-bottom: -px;
        }
    }
    // &.eth{
    //     h4:before{
    //             background: var(--cat-eth);
    //     }
    // }
    // &.art{
    //     h4:before{
    //             background: var(--cat-art);
    //     }
    // }
    // &.design{
    //     h4:before{
    //             background: var(--cat-design);
    //     }
    // }
    // &.tech{
    //     h4:before{
    //             background: var(--cat-tech);
    //     }
    // }
}



/*! 
                                           /
                        _,.------....___,.' ',.-.
                     ,-'          _,.--"        |
                   ,'         _.-'              .
                  /   ,     ,'                   `
                 .   /     /                     ``.
                 |  |     .                       \.\
       ____      |___._.  |       __               \ `.
     .'    `---""       ``"-.--"'`  \               .  \
    .  ,            __               `              |   .
    `,'         ,-"'  .               \             |    L
   ,'          '    _.'                -._          /    |
  ,`-.    ,".   `--'                      >.      ,'     |
 . .'\'   `-'       __    ,  ,-.         /  `.__.-      ,'
 ||:, .           ,'  ;  /  / \ `        `.    .      .'/
 j|:D  \          `--'  ' ,'_  . .         `.__, \   , /
/ L:_  |                 .  "' :_;                `.'.'
.    ""'                  """""'                    V
 `.                                 .    `.   _,..  `
   `,_   .    .                _,-'/    .. `,'   __  `
    ) \`._        ___....----"'  ,'   .'  \ |   '  \  .
   /   `. "`-.--"'         _,' ,'     `---' |    `./  |
  .   _  `""'--.._____..--"   ,             '         |
  | ." `. `-.                /-.           /          ,
  | `._.'    `,_            ;  /         ,'          .
 .'          /| `-.        . ,'         ,           ,
 '-.__ __ _,','    '`-..___;-...__   ,.'\ ____.___.'
 `"^--'..'   '-`-^-'"--    `-^-'`.''"""""`.,^.`.--' 
 Vincent (L) Will (L) Erik 
 */