
body{
    font-family: 'ITC Clearface Std', serif;
    font-size: 19px;
    background: #EDEDED;
    line-height: 1.36;

}

h1{
    float: left;
    font-weight: 800;
}
h1, h2{
    font-size:2.526315789473684em;
    line-height: 1.145833333333333;
}
h3{
    font-family: 'PP Agrandir', sans-serif;
    font-size: 0.947368421052632em;
    line-height: 1.444444444444444;
    
    span{
        font-weight: bold;
    }
}

h4{
    font-weight: bold;
}